DEBUG=*,scanner,-nsqjs:*
MAX_WORKERS=8

# Used for subscribton on ethereum event
ETHEREUM_NODE_WS=ws://**.196.141.108:8546

# Used for rpc requests
ETHEREUM_NODE_HTTP=http://**.196.141.108:8545

AMQP_URL=amqp://localhost

FRONTEND_BASE_URL=https://etherscope.io/
ONESIGNAL_APP_ID=b6185442-6433-2445-8644-f853da56f42c
ONESIGNAL_REST_API_KEY=NWYxMzBjNDEtMWM0Yy12ODFlLTgzZGMtZjNhNWFmYWVmZGFl
DB_ADDRESS=mongodb://127.0.0.1:27017/ethereum
REDIS_HOST=localhost
REDIS_PORT=6379

LAST_BLOCK_NUMBER=4000000
MAX_BLOCKS_PER_TASK=10
ETHERSCAN_API_KEY=BNR8DMDN11VS5FR6UZT8ZFTQYVX63SZ9UF