DEBUG=*,scanner,-nsqjs:*
MAX_WORKERS=1
ETHEREUM_NODE_WS=ws://localhost:8546
ETHEREUM_NODE_RPC=localhost:8545

FRONTEND_BASE_URL=https://etherscope.io/
ONESIGNAL_APP_ID=b6185442-6433-2445-8644-f853da56f42c
ONESIGNAL_REST_API_KEY=NWYxMzBjNDEtMWM0Yy12ODFlLTgzZGMtZjNhNWFmYWVmZGFl
DB_ADDRESS=mongodb://127.0.0.1:27017/ethereum
REDIS_HOST=localhost
REDIS_PORT=6379

LAST_BLOCK_NUMBER=4000000
MAX_BLOCKS_PER_TASK=10
ETHERSCAN_API_KEY=BNR8DMDN11VS5FR6UZT8ZFTQYVX63SZ9UF

NSQ_WRITER_HOST=127.0.0.1
NSQ_WRITER_PORT=4150
NSQ_WRITER_TLS=
NSQ_WRITER_TLS_VERIFICATION=
NSQ_WRITER_DEFLATE=
NSQ_WRITER_DEFLATE_LEVEL=6
NSQ_WRITER_SNAPPY=
NSQ_WRITER_CLIENT_ID=ethereum-writer

NSQ_READER_MAX_IN_FLIGHT=10
NSQ_READER_HEARTBEAT_INTERVAL=60
NSQ_READER_MAX_BACKOFF_DURATION=128
NSQ_READER_MAX_ATTEMPTS=0
NSQ_READER_REQUEUE_DELAY=30000
NSQ_READER_NSQD_TCP_ADDRESSES=127.0.0.1:4150
NSQ_READER_LOOKUPD_HTTP_ADDRESSES=127.0.0.1:4161
NSQ_READER_LOOKUPD_POLL_INTERVAL=60
NSQ_READER_LOOKUPD_POLL_JITTER=0.3
NSQ_READER_TLS=
NSQ_READER_TLS_VERIFICATION=
NSQ_READER_DEFLATE=
NSQ_READER_DEFLATE_LEVEL=
NSQ_READER_SNAPPY=
NSQ_READER_AUTH_SECRET=
NSQ_READER_OUTPUT_BUFFER_SIZE=
NSQ_READER_OUTPUT_BUFFER_TIMEOUT=
NSQ_READER_MESSAGE_TIMEOUT=
NSQ_READER_SAMPLE_RATE=
NSQ_READER_CLIENT_ID=ethereum-reader